<div class="header">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="toolbar">
      <span>DSSM</span>
      <div>
        <div>
          <mat-icon>search</mat-icon>
          <mat-form-field class="search-bar">
            <input matInput (input)="searchPosts($event.target.value)" placeholder="Pesquise">
          </mat-form-field>
        </div>
      </div>
      <div class="perfil-amigos">
        <a class="menuItens" (click)="goToHome()">
          <mat-icon>home</mat-icon>
          Home |
        </a>
        <a class='menuItens' (click)="goToProfile()">
          <mat-icon>person</mat-icon>
          Perfil |
        </a>
        <a class='menuItens' (click)="goToFriends()">
          <mat-icon>person_add</mat-icon>
          Amigos |
        </a>
        <a class="menuItens" (click)="logout()" routerLink="/">Logout</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div *ngFor="let person of searchUsers" class="d-flex justify-content-center">
    <a class="border border-secondary rounded dropdownItens" color="white"
      (click)="goTo(person.professionalID)">{{person.name}}</a>
  </div>
</div>
