@import '@angular/material/prebuilt-themes/indigo-pink.css';

.amigos {
  margin-left: 2%;
  font-size: 75%;
  color: white;
}

.header{
  justify-content: space-between;
}


.search-bar {
  width: 150%;
  padding-top: 8%;
}

.pessoas {
  font-size: 150%;
  background-color: white;
  width: 13%;
  text-align: center;
}

.cont {
  position: fixed;
  z-index:999;
  width: 100%;
  margin-bottom: 1%;
}