<app-header-toolbar></app-header-toolbar>
<div class="container">
  <div *ngIf="showSpinner" class="d-flex justify-content-center mt-2">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card class="scroll col-md-5 mb-5 amigos">
    <p class="friendsCardTitle">Amigos</p>
    <mat-grid-list cols="1" rowHeight="100px" gutterSize="1px" [style.height]="'300px'">
      <mat-grid-tile *ngFor="let friend of friends">
        <mat-card [style.width]="'75%'" class="friendCard">
          <div fxLayout="row">
            <div fxFlex fxFlexAlign="center">
              <div fxLayout="row">
                <a (click)="goToUserProfile(friend.professionalID)">
                  <img *ngIf="friend.profileImage !== null" [src]="friend.profileImage" class="img">
                  <img *ngIf="friend.profileImage === null" [src]="userDefault" class="img">
                  {{friend.name}}
                </a>
              </div>
            </div>

          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
  <mat-card class="scroll col-md-5 sugestao">
    <p class="SuggestionCardTitle">Sugestão de amizade</p>
    <mat-grid-list cols="1" rowHeight="100px" gutterSize="1px" [style.height]="'300px'">
      <mat-grid-tile *ngFor="let friend of commonFriends">
        <mat-card [style.width]="'100%'" class="friendCard suggestionCard">
          <div fxLayout="row">
            <div fxFlex fxFlexAlign="center">
              <div fxLayout="row" *ngIf="!isMyProfile">
                <a (click)="goToUserProfile(friend.professionalID)">
                  <img *ngIf="friend.profileImage !== null" [src]="friend.profileImage" class="img">
                  <img *ngIf="friend.profileImage === null" [src]="userDefault" class="img">
                  {{friend.name}}
                </a>
                <button *ngIf="friend.statusAmizade === 4" type="submit" (click)="adicionarAmizade(friend)"
                  class="btn btn-primary ml-2 btnConnect">
                  <mat-icon>person_add</mat-icon> Conectar
                </button>
                <button *ngIf="friend.statusAmizade === 2" type="submit" (click)="cancelarSolicitacaoAmizade(friend)"
                  class="btn btn-info ml-2 btnConnect">
                  Cancelar Solicitação
                </button>
              </div>
            </div>

          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>