h1 {
    text-align: center;
}

.postagens{
    padding-top: 2%;
}

input{
    margin-top: 1%;
    padding-bottom: 5%;
    width: 100%;
}

.button-postar{
    margin-top: 1%;
    float: right;
}

::ng-deep .error-snackbar {
    color: black;
    background-color: red;
    .mat-simple-snackbar-action {
        color: black;
    }
}

::ng-deep .success-snackbar {
    color: white;
    background-color: green;
    .mat-simple-snackbar-action {
        color: white;
    }
}
