.button-postar {
  margin-left: 17.5%;
}

.postagem{
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 2%;
    padding-bottom: 5%;
    width: 100%;
}

.video {
  width: 50%;
}

.container {
  padding-top: 6%;
  padding-bottom: 3%;
  background-color: white;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 4px -2px #989898;
  -moz-box-shadow: 0 4px 4px -2px #989898;
  -webkit-box-shadow: 0 4px 4px -2px #989898;
}

.imgPerson {
  width: 15rem;
  height: 10rem;
  float: left;
  object-fit:scale-down;
  border-radius: 100%;
}

.profile-box {
  text-align: center;
  padding: 1% 2% 1% 2%;
}

.info1 {
  padding-left: 4%;
}

.info2 {
  padding-left: 15%;
}

.topicos{
  padding: 2%;
}

.recomendar {
  float: left;
  margin-top: -4%;
  
}

.conectar {
  float: right;
  margin-top: -4%;
  margin-right: 1%;
}

.buttonsNoIcons {
  float: right;
  margin-top: -4%;
  margin-right: 1%;
  padding-bottom: 0.8%;
  padding-top: 0.98%;

}

.pNome {
  float: left;
  font-size: 1.7rem;
  color:#6b6b6b
}

.pEstado {
  float: left;
  font-size: 1rem;
  color:#6b6b6b
}
.editarPerfil {
  float: right;
  cursor: pointer;
}