<form [formGroup]="professionalForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="name" placeholder="Nome" formControlName="name">
      <div *ngIf="submitted && name.invalid">
        <span *ngIf="name.errors.required">
            *Nome é necessário.
        </span>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="userLogin">Login</label>
      <input type="text" class="form-control" id="userLogin" placeholder="Login" formControlName="userLogin">
      <div *ngIf="submitted && userLogin.invalid">
        <span *ngIf="userLogin.errors.required">
            *Username é necessário.
        </span>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
      <div *ngIf="submitted && email.invalid">
        <span *ngIf="email.errors.required"> *Email é necessário.</span>
        <span *ngIf="email.errors.email"> *Formato de email incorreto. </span>
      </div>  
    </div>
    <div class="form-group col-md-6">
      <label for="password">Senha</label>
      <input type="password" class="form-control" id="password" placeholder="Password"  formControlName="password">
      <div *ngIf="submitted && password.invalid">
        <span *ngIf="password.errors.required"> *Senha é necessária.</span>
        <span *ngIf="password.errors.minlength"> *Senha precisa ter pelo menos 3 caracteres.</span>
      </div>
    </div>
  </div>

   <div class="form-row">
    <div class="form-group col-md-6">
      <label for="city">Cidade onde trabalha</label>
      <input type="text" class="form-control" id="city" placeholder="Cidade"  formControlName="city">
      <div *ngIf="submitted && city.invalid">
        <span *ngIf="city.errors.required">
          *Cidade é necessária.
        </span>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label for="state">Estado onde trabalha</label>
      <select class="custom-select"  id="state" formControlName="state">
        <option value="">Estado</option>
        <option *ngFor="let state of states" id="state" [ngValue]="state">{{state}}</option>
      </select>
      <div *ngIf="submitted && state.invalid">
        <span *ngIf="state.errors.required">
          *Estado é necessário.
        </span>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="birthDate">Birth Date</label>
      <input type="date" data-provide="datepicker" class="form-control" id="birthDate" formControlName="birthDate" placeholder="10/10/1990">
      <div *ngIf="submitted && birthDate.invalid">
          <span *ngIf="birthDate.errors.required">
            *Data de nascimento incorreta.
          </span>
        </div>
    </div>
    <div class="form-group col-md-6">
      <label for="careerDate">Data de início na carreira de Cientista de Dados</label>
      <input type="date" data-provide="datepicker" class="form-control" id="careerDate" formControlName="careerDate" placeholder="10/10/1990">
      <div *ngIf="submitted && careerDate.invalid">
        <span *ngIf="careerDate.errors.required">
          *Data de ínicio da carreira incorreta.
        </span>
      </div>
    </div>
  </div>
  <div class="form-row">
    <!-- <div class="form-group col-md-6">
      <label for="companyName">Empresa atual</label>
      <input type="text" class="form-control" id="companyName" formControlName="companyName" placeholder="Empresa">
      <div *ngIf="submitted && companyName.invalid">
        <span *ngIf="companyName.errors.required">
          *Nome da empresa é necessário.
        </span>
      </div>
    </div> -->
    <div class="form-group col-md-6">
      <label for="instructionLevel">Nível de instrução</label>
      <select class="custom-select"  id="instructionLevel" formControlName="instructionLevel">
        <option *ngFor="let enum of keys(enums)" [ngValue]="enum">{{enums[enum]}}</option>
      </select>
      <div *ngIf="submitted && instructionLevel.invalid">
          <span *ngIf="instructionLevel.errors.required">
            *Nível de instrução é necessário.
          </span>
        </div>
    </div>
  <!--
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="salary">Salario atual</label>
      <input type="text" class="form-control" id="salary" #salary="ngModel" name="salary"
          [(ngModel)]="jobRole.salary" placeholder="Salario" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
    </div> 

    <div class="form-group col-md-6">
      <label for="jobTitle">Cargo atual</label>
      <input type="text" class="form-control" id="jobTitle" #jobTitle="ngModel" name="jobTitle"
        [(ngModel)]="jobRole.jobTitle" placeholder="Cargo">
    </div> 
  </div>
  <div class="form-group">
    <div class="imageContainer">
      <div *ngIf='urlImage' class="d-flex justify-content-center">
        <img [src]="urlImage" class="image">
      </div>
      <div *ngIf='!urlImage' class="d-flex justify-content-center">
        <img src="./../../../assets/images/file-drop.png">
      </div>
      <div class="d-flex justify-content-center">
        <label for="foto" class="btn btn-primary d-flex botaoSelect">
          Selecionar Foto de Perfil <mat-icon class="iconeSelect">image</mat-icon>
        </label>
        <input type='file' (change)="selecionarFoto($event)" id="foto" accept="image/*" class="d-none">
      </div>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
      <label class="custom-control-label" for="defaultUnchecked" (click)="habilitaPagamento()">Conta Premium</label>
    </div>
  </div> -->

  <!-- <div *ngIf="contaPremium" class="form-row">
    <div class="form-group col-md-6">
      <label for="cardName">Nome do cartão</label>
      <input type="text" class="form-control" id="cardName" #cardName="ngModel" name="cardName"
      [(ngModel)]="paymentInfo.cardName">
    </div>
    <div class="form-group col-md-6">
      <label for="cardNumber">Número do cartão</label>
      <input type="text" class="form-control" id="cardNumber" #cardNumber="ngModel" name="cardNumber" 
        [(ngModel)]="paymentInfo.cardNumber" (input)="displayCard($event.target.value)"
        [ngClass]="{'visaCard': cardMaster, 'masterCard': cardVisa}" onkeypress='return event.charCode>=48 && event.charCode<=57'>
    </div>
  </div>

  <div *ngIf="contaPremium" class="form-row">
    <div class="form-group col-md-6">
      <label for="cardValidationDate">Data de validade</label>
      <input type="date" data-provide="datepicker" class="form-control" id="cardValidationDate" #cardValidationDate="ngModel" name="cardValidationDate" 
      [(ngModel)]="paymentInfo.cardValidationDate" placeholder="10/10/1990" maxlength="7">
    </div>
    <div class="form-group col-md-2">
      <label for="cardSecurityCode">CCV</label>
      <input type="text" class="form-control" id="cardSecurityCode" #cardSecurityCode="ngModel" name="cardSecurityCode" 
      [(ngModel)]="paymentInfo.cardSecurityCode" maxlength="3" onkeypress='return event.charCode>=48 && event.charCode<=57'>
    </div> -->
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar-se</button>
</form>
