.imgLogin {
    width: 10%;
    height: 10%;
    padding-right: 2%;
}

.menuTopo{
    border-bottom: 1px solid #19548f;
}

.nameComp{
    margin-right: 10%;
}

.cadastro{
    padding-top: 5%;
    margin-top: 5%;
}

.cadBody{
    display: flex;
    justify-content: space-between;
}

.info{
    margin-right: 0;
    margin-top: 5%;
    background-color: #3786bd;
    padding-bottom:2%;
    float: left;
    border-radius: 2%;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    color: white;
}
