.card {
  margin-bottom: 2%;
}

.example-header-image {
  background-size: cover;
}

.iconDelete {
  position: relative;
  bottom: 7px;
}

.thumbnail {
  max-width: 30%;
}

.dateDelete {
  margin-left: 77%;
  position: relative;
  top: 5px;
  width: 20%;
}

.example-header-image:hover{
  cursor: pointer;
}

.hover:hover{
  cursor: pointer;
}

pre {
  font-family: jomolhari;
  font-size: 1rem;
}
