/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

a:hover{ cursor: pointer; }

.mat-icon{
  position: relative;
  top: 4px;
}

.error-snackbar {
    color: white;
    background-color: red;
}

.success-snackbar {
    color: white;
    background-color: green;
}

.mat-simple-snackbar-action {
  color: white;
}

.container {
  padding-top: 6%;
  padding-bottom: 3%;
  background-color: white;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 4px -2px #989898;
  -moz-box-shadow: 0 4px 4px -2px #989898;
  -webkit-box-shadow: 0 4px 4px -2px #989898;
}


@font-face {
  font-family: jomolhari;
  src: url(./app/lib/Jomolhari-alpha3c-0605331.ttf) format("opentype");
}
